.hero-img{
   
    width:100%;
    background : rgba(0,0,0,0.5);
    height: 60vh;
 
    
}
.hero-img::before {
content: "";
background:url("../../assests/HeroImg.jpg");
background-size: cover;
background-position: center top;
height: 100%;
width: 100%;
position: absolute;
top: 0;
left: 0;
z-index: -1;
}
.heading{
    width :100;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}