
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@1,500&family=Open+Sans:wght@400;500&family=Ubuntu:wght@500&display=swap');
 .profile-container{  
  margin-top: 0;
  padding: 60px 0px 120px 0;
  background-position: top center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("https://raw.githubusercontent.com/judygab/web-dev-projects/main/personal-portfolio/src/assets/img/banner-bg.png");
 }
 
 .profile-parent{
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(252, 252, 252);
    width: 100%;
  
   
    
 }
 .profile-details{
    font-size: 20px;
    margin-right: 200px;
    
}
 .profile-details-name{
     font-size: 24px;
    
     text-transform: uppercase;
    
 }
 .profile-details-role{
    display: flex;
    flex-direction: column;
    margin: 14px 0 24px 0;
    
 }
 .profile-details-role h1{
    font-size: 60px;
    font-weight: 700;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
 }

 .primary-text{
    color: white;
 }
 .highlighted-text{
  margin-left: 12px;
  color: rgb(255, 85, 0);
  font-weight:bold;
  font-size: 25px;
  font-family:'Open Sans', sans-serif;

  
 }

 .profile-role-tagline{
    font-size: 15px;
    margin-top: 30px;
    font-weight: 600;
   
 }
 .profile-role-tagline h5{
   
  margin-top:15px;
  
  
 
}
 .profile-picture-background{
    
    height: 590px;
    width: 400px;
    background-image: url("../../assests/my.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    transform: translateX(-50%,-50%);
    transition: bottom 2s,left 10s;
    animation: updown 2s linear infinite;
}

.profile-options .button-87{
  padding: 15px;
  border-radius: 40px;
  width: 25%;
}
  
@keyframes updown {
    0% {
        transform: translateY(-10px);
    }
    50% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
    
}
 .profile-picture-background:hover {
    
   
}
 .profile-options{

   
   
    margin-top: 100px;

 }

 .profile-options button{
  font-size: 17px;
  padding: 18px 45px;
  margin: 10px;
  border-radius: 12px;
    
  
 }




@media screen and (max-width:1025px) {
   
    .profile-details{
        
        margin: 2px;
        width: 50%;
    }
    .profile-picture-background{
        height: 465px;
        width: 320px;
        margin-bottom: 40px;
      
       
    }
    .profile-details-name{
        font-size: 25px;
        left: 20px;
    }
    .profile-details-role .primary-text h1{
        font-size: 50px;
    }
    .profile-options .button-87{
      padding: 15px;
      border-radius: 40px;
      width: 40%;
    }
}
@media screen and (max-width:913px) {
  
  .profile-details{
     
  }
  .profile-picture-background{
      height: 350px;
      width: 250px;
  
    
     
  }
  .profile-details-name{
      font-size: 15px;
      left: 20px;
  }
  .profile-details-role .primary-text h1{
      font-size: 40px;
  }
  .profile-details-name .highlighted-text{
    font-size: 18px;
  
   
 }

 .profile-options{
  margin-top: 10px;
 }

 .profile-options .button-85{
      padding: 12px;
 }
 .profile-options .button-78{
  padding: 12px;
  min-height: 26px;
  
}

.profile-options button{
  font-size: 20px;
  padding: 15px 28px;
  margin:8px;
  border-radius: 15px;
  width: 70%;
 }
}

@media screen and (max-width:810px) {
 
  .profile-details{
     margin-left: 0px;
     margin-bottom: 30px;
     width: 70%;
  }
  .profile-picture-background{
      
      width: 360px;
      height: 500px;
      
     
      }

  .profile-parent{
    flex-direction: column-reverse;
    margin: 0px 0 0 0;
  }
  .profile-options{
    display: flex;
    justify-content: space-between;
    margin-top: 38px;
    margin-bottom: 25px;
    
  }
    .profile-details-name{
      font-size: 25px;
      font-weight: 600;
      text-align: center;
  }

  .profile-details-name .highlighted-text{
    font-size: 32px;
  
   
 }
  .profile-details-role .primary-text h1{
      font-size: 55px;
      text-align: center;
      
  }
  .profile-details-role {
    text-align: center;
    font-size: 20px;
    font-family: Inter, sans-serif;
    


  }
  .profile-options .button-78 {
    margin-right: 20px;
  }
  .profile-options .button-85 {
    margin-left: 15px;
  }
  
  .profile-options button{
    font-size: 20px;
    padding: 15px 18px;
    margin:8px;
    border-radius: 15px;
    width: 50%;
   }
}

@media screen and (max-width:550px) {
  
  .profile-container{  
   
    padding-bottom: 83px;

    
   }
  

.profile-picture-background{
      
    width: 300px;
    height: 420px;
  
   
    }
    .profile-role-tagline {
      margin-top: 20px;
      font-size: 20px;
      font-family: 'Courier New', Courier, monospace;
    }
    
    .profile-details{
      font-size: 10px;
      width: 100%;
      padding: 12px;
    }
   
      .profile-details-name .highlighted-text{
        font-size: 18px;
      
       
     }

     .profile-details-role .primary-text h1{
      font-size: 30px;
      text-align: center;
      
      
  }

  .profile-details-name{
    font-size: 18px;
    text-align: center;
    
    
}

.profile-options button{
  font-size: 15px;
  padding: 15px 18px;
  margin:8px;
  border-radius: 15px;
  width: 50%;
 }
}

@media screen and (max-width:350px) {
  
  .profile-container{  
   
    padding-bottom: 83px;

    
   }
  

.profile-picture-background{
      
    width: 220px;
    height: 320px;
  
   
    }
    .profile-role-tagline {
      margin-top: 20px;
      font-size: 20px;
      font-family: 'Courier New', Courier, monospace;
    }
    
    .profile-details{
      font-size: 8px;
      width: 100%;
      padding: 12px;
    }
   
      .profile-details-name .highlighted-text{
        font-size:17px;
      
       
     }

     .profile-details-role .primary-text h1{
      font-size: 17px;
      text-align: center;
      
      
  }

  .profile-details-name{
    font-size: 18px;
    text-align: center;
    
    
}

.profile-options button{
  font-size: 12px;
  padding: 15px 22px;
  margin:8px;
  border-radius: 13px;
  width: 50%;
 }
}
