.body{

    margin: 0;
    padding: 0px;
    font-family:sans-serif;
    display: flex;
   
   }
   #intro{
   position: relative;
   top: -120px;
   border-top-left-radius: 64px;
   border-top-right-radius: 64px;
   background-color: black;
   padding-top: 30px;
   }
   #intro h1{
   
     font-weight: 900;
     font-size: 40px;
     padding-bottom: 5px;
     color: aliceblue;
   
   
   }
   .line{
     margin-top: -5px;
     height: 3px;
     width: 10rem;
     background: rgb(255, 254, 254);
     text-align: center;
     border-radius: 50%;
   }
   
   .card-body{
   
     box-shadow:0 0 20px 7px rgba(0,0,0,0.2);
     
    
   
   }
   .card{
   
       margin: 20px 10px;
       
   }
   .title h1{
      padding-top: 50px;
      text-align: center;
   }
   .card:hover{
   
       transform: translate(-5px, -5px);
       transition: all 0.4s ease-in;
    
       
   }
   
   
   @media screen and (max-width:500px) {
   
    
      
    
  }
   