@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;1,300;1,400&display=swap');

.title h1{
    margin-top: 50px;
    text-align: center;
 }

 .card-title{
    font-size: 25px;
    text-align: center;
    font-weight: 500;
    font-family: 'Josefin Sans', sans-serif;
 }
 .background{
   background-color: black;
   background-image: url("https://i.ibb.co/9pXVTVs/color-sharp2.png" );
   padding: 0px 0px 50px 0;
   background-position: top center;
   background-size: cover;
   background-repeat: no-repeat;
   top: -130px;
   position: relative;

 }

 .backabout{

    border-width: 3px;
  border-color: rgba(99, 38, 123, 100);
  border-radius: 20px;
  background:linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url("https://i.ibb.co/ByLBKzd/5172658.jpg");
  background-position: cover;
  background-repeat: no-repeat;
 }